*{
    margin:0;
    padding:0;
}
ul
{
    list-style-type:none; /*글머리 삭제*/
    width:500;
    padding:10px;
    margin:20px 0 0 40px;
    background-color: #eeeeee;
    border:solid 1px #aaaaaa;
    text-align:center;
}
li
{
    display:inline;
}